<?xml version="1.0"?>

<model>
  <name>husky_turtlebot3_waffle</name>
  <version>2.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Taehun Lim(Darby)</name>
    <email>thlim@robotis.com</email>
  </author>

  <description>
    husky_turtlebot3_waffle
  </description>
</model>
