<launch>
  <arg name="xterm_prefix" default="xterm -xrm 'XTerm*scrollBar:  true' -xrm 'xterm*rightScrollBar: true' -hold -geometry 1400x800 -sl 10000 -e"/>

  <include file="$(find-pkg-share sm_test_moveit_ur5_sim)/launch/sm_test_moveit_ur5_sim.launch.py">
    <arg name="ur_type" value="ur5e" />
    <arg name="robot_ip" value="yyy.yyy.yyy.yyy" />
    <arg name="robot_controller" value="scaled_joint_trajectory_controller" />
    <arg name="use_fake_hardware" value="true" />
    <arg name="launch_rviz" value="false" />
  </include>

  <node pkg="rviz2" exec="rviz2" name="rviz" args="-d $(find-pkg-share sm_test_moveit_ur5_sim)/config/view_robot.rviz" />


  <!-- <node pkg="sm_test_moveit_ur5_sim" exec="sm_test_moveit_ur5_sim_node" name="sm_test_moveit_ur5_sim" launch-prefix="$(var xterm_prefix)" output="screen">
    <param from="$(find-pkg-share sm_test_moveit_ur5_sim)/config/sm_test_moveit_ur5_sim_config.yaml" />
    <param command="$(find-pkg-share ur_description)/urdf/ur.urdf.xacro'"/>
  </node>

  <include file="$(find-pkg-share ur_bringup)/launch/ur_control.launch.py">
    <arg name="ur_type" value="ur5e" />
    <arg name="robot_ip" value="yyy.yyy.yyy.yyy" />
    <arg name="robot_controller" value="scaled_joint_trajectory_controller" />
    <arg name="use_fake_hardware" value="true" />
    <arg name="launch_rviz" value="false" />
  </include>

  <include file="$(find-pkg-share ur_bringup)/launch/ur_moveit.launch.py">
    <arg name="ur_type" value="ur5e" />
    <arg name="robot_ip" value="yyy.yyy.yyy.yyy" />
    <arg name="launch_rviz" value="true" />
  </include> -->

</launch>
