[submodule "submodules/navigation2"]
	path = submodules/navigation2
	url = https://github.com/pabloinigoblasco/navigation2.git
        branch= feature/goal_checker_selector
[submodule "submodules/slam_toolbox"]
	path = submodules/slam_toolbox
	url = https://github.com/SteveMacenski/slam_toolbox.git
[submodule "submodules/turtlebot3_simulations"]
	path = submodules/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
[submodule "submodules/turtlebot3_msgs"]
	path = submodules/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
