<launch>

  <executable cmd="lgsvl_bridge" launch-prefix="xterm -hold -e"/>

  <node pkg="sm_autoware_avp" exec="sm_autoware_avp_node" name="sm_autoware_avp" output="screen" launch-prefix="xterm -hold -e">
    <param from="$(find-pkg-share sm_autoware_avp)/config/sm_autoware_avp_config.yaml" />
  </node>

  <include file="$(find-pkg-share autoware_auto_launch)/launch/autoware_auto_visualization.launch.py">
  </include>

  <include file="$(find-pkg-share autoware_demos)/launch/avp_sim.launch.py">
  </include>

</launch>
