<?xml version="1.0"?>
<model>
  <name>x500_lidar_3d</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Brett Aldrich</name>
    <email>brett@robosoft.ai</email>
  </author>
  <description>PX4 x500 model with a spherical 3D scanning lidar (lidar_3d)</description>
</model>
