<?xml version="1.0"?>
<model>
  <name>open_arena_assets</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author><name>RobosoftAI</name><email>brett@robosoft.ai</email></author>
  <description>Texture assets for the sm_nav2_gazebo_test_2 open arena world</description>
</model>
