<launch>
    <arg name="server_nodes_xterms" default="xterm -xrm 'XTerm*scrollBar:  true' -xrm 'xterm*rightScrollBar: true' -hold -sl 10000 -e" />

    <node pkg="sm_respira_1" exec="sm_respira_1_node" name="sm_respira_1" launch-prefix="$(var server_nodes_xterms)" />
    <node pkg="keyboard_client" exec="keyboard_server_node.py" name="keyboard_server_node" launch-prefix="$(var server_nodes_xterms)"  />
</launch>
