<?xml version="1.0"?>
<launch>
  <!-- <include file="$(find-pkg-share husky_gazebo)/launch/gazebo_launch.py">
    <arg name="world_path" value="$(find-pkg-share sm_husky_barrel_search_1)/worlds/barrel_valley.world.sdf"/>
  </include> -->

  <include file="$(find-pkg-share sm_husky_barrel_search_1)/launch/gazebo_launch.py">
      <arg name="world" value="$(find-pkg-share sm_husky_barrel_search_1)/worlds/barrel_valley.world.sdf"/>
  </include>


</launch>

