# This is a format job. Pre-commit has a first-party GitHub action, so we use
# that: https://github.com/pre-commit/action

name: Format

on:
  workflow_dispatch:
  pull_request:

jobs:
  pre-commit:
    name: Format
    runs-on: ubuntu-latest
    container: 
      image: orsf/humble-desktop:latest
      
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2

    - name: Install clang-format
      run: |
       sudo apt-get update
       sudo apt-get install -y clang-format cppcheck
       git config --global --add safe.directory `pwd`
       pip3 install pre-commit
    - name: "pre-commit"
      run: |
        source /opt/ros/humble/setup.bash
        echo `pwd`
        pre-commit run -a