name: "Pull request Doc Check"
on:
  pull_request:

jobs:
  check-doc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: mattnotmitt/doxygen-action@v1
      with:
        doxyfile-path: 'smacc2_ci/Doxyfile'
