<launch>
  <arg name="suppress_log_output" default="false" />

  <arg if="$(var suppress_log_output)" name="ros_args" default="--ros-args --log-level FATAL" />
  <arg unless="$(var suppress_log_output)" name="ros_args" default="" />

  <node pkg="$sm_name$" exec="$sm_name$_node" name="$sm_name$" args="$(var ros_args)" output="screen">
    <param from="$(find-pkg-share $sm_name$)/config/$sm_name$_config.yaml" />
  </node>
</launch>
